.navbar {
    background-color:tomato;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.web-logo {
    font-size:30px;
    text-decoration:none;
    background-color:white;
    margin:20px;
    border:1px solid green;
    border-radius:10px;
    color:tomato;
    padding:20px;
}

.nav-item{
    font-size:20px;
    color:white;
    margin:10px;
}